<div class="container-fluid">
  <div class="row">
    <!--Colonne 1-->
    <div class="col-6 justify-content-center">
      <div class="row mt-4 mb-2 col-12 justify-content-center">
        <h3>Gestion de la base d'apprentissage</h3>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <button class="btn btn-primary">Ajouter des données</button>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <div class="col-10">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Rechercher une offre" aria-label="Barre de recherche"
                   aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <img src="assets/open-iconic/svg/search.svg" height="30">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Colonne 2-->
    <div class="col-6" style="background:#eee">
      <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
        <h3>Modification de données</h3>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <div class="col-10">
          <textarea class="col-12" name="textarea" type="text" rows="10" placeholder="Texte de l'offre"></textarea>
        </div>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <div class="col-10">
          <div class="input-group mb-3">
            <select class="form-control">
              <option>Formation</option>
              <option>RICM</option>
              <option>PRI</option>
              <option>GGC</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-danger" type="button">
                Supprimer
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
          <button class="btn btn-primary">Ajouter une formation</button>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <button class="btn btn-success">Sauvegarder</button>
      </div>
    </div>
  </div>
