<!--d-flex justify-content-center-->
<footer class="pt-2 mt-0 border-top col-12 ">
    <div class="row pb-2">
      <div class="col-12 d-flex justify-content-center">
        <h5>About</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <a class="text-muted mr-4" href="https://air.imag.fr/index.php/SmartRecruiting">Team</a>
        <a class="text-muted mr-4" href="https://disrupt-campus.univ-grenoble-alpes.fr/">Disrupt'Campus</a>
        <a class="text-muted" href="https://www.polytech-grenoble.fr/">Polytech</a>
      </div>
    </div>
</footer>
