<div class="container">
  <br/>
  <div class="jumbotron">
    <h1 class="display-4">SmartRecruiting</h1>
    <p class="lead">Un outil pour accélérer votre recrutement d'étudiants Grenoblois</p>
    <hr class="my-4">
    <p>
      Ce site se base sur des algorithmes de deep learning pour prédire quelle formation grenobloise répondra au mieux à
      votre offre de stage, offre d'emploi ou description de projet.
    </p>
    <p class="lead">
      <a class="btn btn-myprimary btn-lg" routerLink="offre" role="button" routerLinkActive="active">Entrer une offre</a>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-6 col-xl-6">
      <img class="img-fluid" src="assets/image.jpg" height="500" />
      <a class="col-12" href='https://fr.freepik.com/vecteurs-libre/fond-abstrait-d-39-intelligence-artificielle_1533310.htm'>Designed by Freepik</a>
    </div>
    <div class="col-sm-6 col-xl-6">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h4>Fonctionnement du site</h4>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <ol>
            <li>
              <b>Entrez une offre</b> sous format texte pour en obtenir la prédiction.
            </li>
            <li>
              Inscrivez-vous ou connectez vous pour pouvoir retrouver cette offre dans l'onglet <b>Mon compte > Mes offres</b>
            </li>
            <li>
              Lorsque vous aurez trouve le profil adapté à votre offre vous pourrez <b>donner un feedback</b>
              dans l'onglet contenant vos offres pour nous aider à améliorer notre base de données
              et aider SmartRecruiting à vous fournir toujours de meilleures prédictions.
            </li>
          </ol>
        </li>
      </ul>
    </div>
  </div>
</div>
