<div class="container">
  <br/>

  <div class="jumbotron">
    <h1 class="display-4">SmartRecruiting</h1>
    <p class="lead">La solution à tout vos problèmes, à la faim dans le monde et aux coins de meubles qui attaquent vos petits orteils.</p>
    <hr class="my-4">
    <p>Présentation du site et de son but.</p>
    <p>Nous avons pour but de faire du monde un parc à licornes géant, gouverné par des pandas et des emeus. Pour démarrer, c'est par ici !</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="offre" role="button" routerLinkActive="active">Commencer l'aventure</a>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xl-6">
      <img class="img-fluid" src="assets/image.jpg" height="500" />
      <a class="col-12" href='https://fr.freepik.com/vecteurs-libre/fond-abstrait-d-39-intelligence-artificielle_1533310.htm'>Designed by Freepik</a>
    </div>
    <div class="col-sm-6 col-xl-6">Présentation de l'équipe</div>
  </div>
</div>
