<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <app-header></app-header>
  <br/>

  <div class="jumbotron">
    <h1 class="display-4">SmartRecruiting, </h1>
    <p class="lead">Slogan</p>
    <hr class="my-4">
    <p>Présentation du site et de son but.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Entrer une offre</a>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xl-6"><img src="assets/logo.png" height="1000" width="1000"/></div>
    <div class="col-sm-6 col-xl-6">Présentation de l'équipe</div>
  </div>

  <div></div>

</div>

