<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<router-outlet></router-outlet>

<footer class="pt-4 my-md-5 pt-md-5 border-top d-flex justify-content-center">
  <div class="row">
    <div>
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Disrupt'Campus</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
      </ul>
    </div>
  </div>
</footer>
