<div class="container-fluid">
  <div class="row">
    <!--Colonne 1-->
    <div class="col-5 justify-content-center">
      <div class="row mt-4 mb-2 col-12 justify-content-center">
        <h3>Gestion des formations</h3>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <button class="btn btn-myprimary" (click)="addField()">Ajouter une formation</button>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <div class="col-10">
          <div class="input-group mb-3">
            <input #searchWords type="text" class="form-control" placeholder="Rechercher une formation" aria-label="Barre de recherche"
                   aria-describedby="basic-addon2" [(ngModel)]="search" (input)="filterFields(searchWords.value)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <img src="assets/open-iconic/svg/search.svg" height="30">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <ul class="list-group col-10">
          <li *ngFor="let field of fields"  class="list-group-item d-flex justify-content-between align-items-center">
            {{field.name}}
            <button type="button" class="btn btn-outline-myprimary" (click)="selectField(field)">Modifier</button>
          </li>
        </ul>
      </div>
    </div>
    <!--Colonne 2-->
    <div class="col-7" style="background:#eee">
      <div class="row">
        <div class="col-1 align-self-center">
          <div *ngIf="selectedField">
            <a role="button" (click)="clear()"><img src="assets/open-iconic/svg/next.svg" height="25"></a>
          </div>
        </div>
        <div class="col-11">
          <div *ngIf="selectedField">
            <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
              <h3>Modification de formation</h3>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <div class="col-10">
                <form  class="form-horizontal" [formGroup]="Fieldform" (ngSubmit)="validateRegistration()">
                  <div class="form-group">
                    <label>Nom de la formation*</label>
                    <input type="text" class="form-control"[(ngModel)]="selectedField.name" formControlName="name">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger"> Le champs est requis </div>
                  </div>
                  <div class="form-group">
                    <label>Description*</label>
                    <textarea type="text" class="form-control" [(ngModel)]="selectedField.description" formControlName="description"></textarea>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger"> Le champs est requis </div>
                  </div>
                  <div class="form-group">
                    <label>URL*</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedField.website" formControlName="website">
                    <div *ngIf="website.invalid && (website.dirty || website.touched)" class="alert alert-danger"> Le champs est requis </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <div class="col-10">
                <div *ngFor="let contact of selectedField.contacts" class="list-group">
                  <a class="list-group-item list-group-item-action flex-column align-items-start disabled">
                    <div class="row" *ngIf="!isCurrentContact(contact);else EditContact">
                      <div class="col-9">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{contact.name}} {{contact.surname}}</h5>
                          <small>{{contact.role}}</small>
                        </div>
                        <p class="mb-1">{{contact.email}}</p>
                        <p class="mb-1">{{contact.phone}}</p>
                      </div>
                      <div class="col-1 align-items-end">
                        <div class="row mb-2 col-12 d-flex">
                          <button class="btn btn-myprimary" (click)="editContact(contact)">Modifier</button>
                        </div>
                        <div class="row mb-2 col-12 d-flex">
                          <button class="btn btn-mydanger" (click)="removeContact(contact)">Supprimer</button>
                        </div>
                      </div>
                    </div>
                    <ng-template #EditContact>
                      <div class="row mb-2 justify-content-center">
                        <div class="col-10">
                          Prénom
                          <input class="form-control" [(ngModel)]="contact.name">
                          Nom
                          <input class="form-control" [(ngModel)]="contact.surname">
                          Role
                          <input class="form-control" [(ngModel)]="contact.role">
                          Email
                          <input class="form-control" [(ngModel)]="contact.email">
                          Téléphone
                          <input class="form-control" [(ngModel)]="contact.phone">
                        </div>
                      </div>
                      <div class="row justify-content-center">
                        <button class="btn btn-success" (click)="saveContact(contact)">Sauvegarder</button>
                      </div>
                    </ng-template>
                  </a>
                </div>
              </div>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <button class="btn btn-myprimary" (click)="addContact()">Ajouter un contact</button>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <button class="btn btn-mysuccess btn-margin-right" (click)="saveField()" [disabled]="!form.valid">Sauvegarder</button>
              <button *ngIf="!isnew" class="btn btn-mydanger btn-margin-left" (click)="deleteField()">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
