<div class="container-fluid">
  <div class="row">
    <!--Colonne 1-->
    <div class="col-5 justify-content-center">
      <div class="row mt-4 mb-2 col-12 justify-content-center">
        <h3>Gestion des formations</h3>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <button class="btn btn-myprimary" (click)="addField()">Ajouter une formation</button>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <div class="col-10">
          <div class="input-group mb-3">
            <input #searchWords type="text" class="form-control" placeholder="Rechercher une formation" aria-label="Barre de recherche"
                   aria-describedby="basic-addon2" [(ngModel)]="search" (input)="filterFields(searchWords.value)">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <img src="assets/open-iconic/svg/search.svg" height="30">
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <ul class="list-group col-10">
          <li *ngFor="let field of fields"  class="list-group-item d-flex justify-content-between align-items-center">
            {{field.name}}
            <button type="button" class="btn btn-outline-myprimary" (click)="selectField(field)">Modifier</button>
          </li>
        </ul>
      </div>
    </div>
    <!--Colonne 2-->
    <div class="col-7" style="background:#eee">
      <div class="row">
        <div class="col-1 align-self-center">
          <div *ngIf="selectedField">
            <a role="button" (click)="clear()"><img src="assets/open-iconic/svg/next.svg" height="25"></a>
          </div>
        </div>
        <div class="col-11">
          <div *ngIf="selectedField">
            <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
              <h3>Modification de formation</h3>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <div class="col-10">
                <form  class="form-horizontal" [formGroup]="formField" (ngSubmit)="validateRegistration()">
                  <div class="form-group">
                    <label>Nom de la formation*</label>
                    <input type="text" class="form-control"[(ngModel)]="selectedField.name" formControlName="name">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger"> Le champ est requis </div>
                  </div>
                  <div class="form-group">
                    <label>Description*</label>
                    <textarea type="text" class="form-control" [(ngModel)]="selectedField.description" formControlName="description"></textarea>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger"> Le champ est requis </div>
                  </div>
                  <div class="form-group">
                    <label>URL*</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedField.website" formControlName="website">
                    <div *ngIf="website.invalid && (website.dirty || website.touched)" class="alert alert-danger"> Le champ est requis </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <div class="col-10">
                <div *ngFor="let contact of selectedField.contacts" class="list-group">
                  <a class="list-group-item list-group-item-action flex-column align-items-start disabled">
                    <div class="row" *ngIf="!isCurrentContact(contact);else EditContact">
                      <div class="col-9">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">{{contact.name}} {{contact.surname}}</h5>
                          <small>{{contact.role}}</small>
                        </div>
                        <p class="mb-1">{{contact.email}}</p>
                        <p class="mb-1">{{contact.phone}}</p>
                      </div>
                      <div class="col-1 align-items-end">
                        <div class="row mb-2 col-12 d-flex">
                          <button class="btn btn-myprimary" (click)="editContact(contact)">Modifier</button>
                        </div>
                        <div class="row mb-2 col-12 d-flex">
                          <button class="btn btn-mydanger" (click)="openDangerPopUp(danger,'ce contact',contact)">Supprimer</button>
                        </div>
                      </div>
                    </div>
                    <ng-template #EditContact>
                      <div class="row mb-2 col-12 d-flex justify-content-center">
                        <form  class="form-horizontal" [formGroup]="formContact" (ngSubmit)="validateRegistration()">
                          <div class="form-group">
                            <label>Prénom*</label>
                            <input type="text" class="form-control"[(ngModel)]="contact.name" formControlName="name">
                            <div *ngIf="cname.invalid && (cname.dirty || cname.touched)" class="alert alert-danger"> Le champ est requis </div>
                          </div>
                          <div class="form-group">
                            <label>Nom*</label>
                            <input type="text" class="form-control" [(ngModel)]="contact.surname" formControlName="surname">
                            <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger"> Le champ est requis </div>
                          </div>
                          <div class="form-group">
                            <label>Role*</label>
                            <input type="text" class="form-control" [(ngModel)]="contact.role" formControlName="role">
                            <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger"> Le champ est requis </div>
                          </div>
                          <div class="form-group">
                            <label>Email*</label>
                            <input type="text" class="form-control" [(ngModel)]="contact.email" formControlName="email">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger"> Ce champ doit être un email valide</div>
                          </div>
                          <div class="form-group">
                            <label>Téléphone*</label>
                            <input type="text" class="form-control" [(ngModel)]="contact.phone" formControlName="phone">
                            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger"> Le champ est requis </div>
                          </div>
                        </form>
                      </div>
                      <div class="row mb-2 col-12 d-flex justify-content-center">
                        <button class="btn btn-mysuccess" (click)="saveContact(contact)" [disabled]="!formContact.valid">Sauvegarder</button>
                      </div>
                    </ng-template>
                  </a>
                </div>
              </div>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <button class="btn btn-myprimary" (click)="addContact()">Ajouter un contact</button>
            </div>
            <div class="row mb-2 col-12 d-flex justify-content-center">
              <button class="btn btn-mysuccess btn-margin-right" (click)="saveField()" [disabled]="!formField.valid">Sauvegarder</button>
             <!--<button *ngIf="!isNewField" class="btn btn-mydanger btn-margin-left" (click)="openDangerPopUp(danger,'cette formation',undefined)">Supprimer</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #danger let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"> Attention </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Etes-vous sûr de vouloir supprimer {{message}} ?
  </div>
  <div class="modal-footer">
    <div class="row col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-mydanger mr-2" (click)="c('yes')"> Supprimer </button>
        <button type="button" class="btn btn-mysecondary" (click)="c('no')"> Annuler </button>
    </div>
  </div>
</ng-template>
