<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <div class="row align-items-center">
      <div class="col-sm">
        <img src="assets/logo.png" width="80"/>
      </div>
      <div class="col-sm title">
        <h2>SmartRecruiting</h2>
      </div>
    </div>
  </a>
  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" routerLink="admin/statistiques">Statistiques</a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" routerLink="admin/donnees">Données</a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" routerLink="admin/formations">Formations</a>
        </li>
    </ul>
    <ul class="form-inline my-2 my-lg-0">
    <span *ngIf="!connected">
      <button (click)="connect()" class="btn btn-outline-primary btn-margin-right">Connexion</button>
      <a class="btn btn-outline-dark btn-margin-left" routerLink="/inscription" role="button">Inscription</a>
    </span>
      <span *ngIf="connected">
     <span class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mon compte
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/mes-offres">Mes offres</a>
        <a class="dropdown-item" routerLink="/parametres/:userId">Paramètres</a>
        <a class="dropdown-item" routerLink="" (click)="disconnect()">Déconnexion</a>
      </div>
      </span>
    </span>
    </ul>
  </div>
</nav>
