<div class="container">
  <br/>

  <div class="jumbotron">
    <h1 class="display-4">SmartRecruiting, </h1>
    <p class="lead">Slogan</p>
    <hr class="my-4">
    <p>Présentation du site et de son but.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/offre" role="button" routerLinkActive="active">Entrer une offre</a>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-xl-6"><img src="assets/image.jpg" height="500" />
      <a href='https://fr.freepik.com/vecteurs-libre/fond-abstrait-d-39-intelligence-artificielle_1533310.htm'>Designed by Freepik</a>
    </div>

    <div class="col-sm-6 col-xl-6">Présentation de l'équipe</div>
  </div>

</div>
