
<div class="container-fluid">
  <div class="row">
    <!--Colonne 1-->
    <div class="mt-2 col-1 offset-1">
      <a role="button" (click)="goBack()" class=""><img src="assets/open-iconic/svg/back.svg" height="25"> </a>
    </div>
    <div class="col-4 mt-4 justify-content-center">
          <div class="row mb-2 col-12 justify-content-center">
            <h2>{{currentField.name}}</h2>
            <p>{{currentField.description}}</p>
          </div>
          <div class="row mb-4 col-12 justify-content-center">
              <a role="button" href="{{currentField.website}}" class="btn btn-primary">Site de la formation</a>
          </div>
    </div>
    <div class="col-6" style="background:#eee">
      <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
        <h2>Contacts</h2>
      </div>
      <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
        <div class="col-10">
          <div *ngFor="let contact of currentField.contacts" class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start disabled">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{contact.name}} {{contact.surname}}</h5>
                <small>{{contact.role}}</small>
              </div>
              <p class="mb-1">{{contact.email}}</p>
              <p class="mb-1">{{contact.phone}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
