<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <div class="row align-items-center">
      <div class="col-sm">
        <img src="assets/logo.png" width="80"/>
      </div>
      <div class="col-sm title">
        <h2>SmartRecruiting</h2>
      </div>
    </div>
  </a>
  <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" routerLink="admin/statistiques">Statistiques</a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" routerLink="admin/donnees">Données</a>
        </li>
        <li class="nav-item" *ngIf="admin">
          <a class="nav-link" routerLink="admin/formations">Formations</a>
        </li>
    </ul>
    <ul class="form-inline my-2 my-lg-0">
    <span *ngIf="!connected">
      <!--Connexion-->
      <button (click)="connect(login)" class="btn btn-outline-myprimary btn-margin-right">Connexion</button>
      <a class="btn btn-outline-mydark btn-margin-left" (click)="register(signup)" role="button">Inscription</a>

    </span>
      <span *ngIf="connected">
     <span class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mon compte
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" routerLink="/mes-offres">Mes offres</a>
        <a class="dropdown-item" routerLink="/parametres">Paramètres</a>
        <a class="dropdown-item" routerLink="" (click)="disconnect()">Déconnexion</a>
      </div>
      </span>
    </span>
    </ul>
  </div>
</nav>

<!--Authentification-->
<ng-template #login let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Authentification</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="logError" role="alert">
      Cet utilisateur n'existe pas ou vous vous êtes trompez en rentrant vos identifiants.
    </div>
    <div class="alert alert-danger" *ngIf="erreurServeur" role="alert">
      Une erreur c'est produite sur le serveur reessayez plus tard.
    </div>
    <form class="needs-validation" novalidate>
      <div class="alert alert-danger" role="alert" *ngIf="!validForm">
        Des champs sont manquant
      </div>
      <div class="form-group">
        <label for="emailUser">Adresse mail</label>
        <input type="email" class="form-control" name="emailUser" id="emailUser" [(ngModel)]="emailUser" #name="ngModel" required>
      </div>
      <div class="form-group">
        <label for="passwordUser">Mot de passe</label>
        <input type="password" class="form-control" name="passwordUser" id="passwordUser" [(ngModel)]="passwordUser" #name="ngModel" required>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="row col-12 pr-0 pl-0 mr-0 ml-0">
      <div class="col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-mysuccess" (click)="validateConnexion()">Valider</button>
      </div>
      <div class="col-12 d-flex mt-2 justify-content-center">
        <a href='#' (click)="c('blop');register(signup)">S'inscrire</a>
      </div>
    </div>
  </div>
</ng-template>

<!--Register-->
<ng-template #signup let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Inscription</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger" *ngIf="alreadyExist" role="alert">
      Cet utilisateur exist déjà.
    </div>
    <div class="alert alert-danger" *ngIf="erreurServeur" role="alert">
      Une erreur c'est produite sur le serveur reessayez plus tard.
    </div>
    <form  class="form-horizontal" [formGroup]="form" (ngSubmit)="validateRegistration()">
      <div class="form-group">
        <label>Nom*</label>
        <input type="text" class="form-control" [(ngModel)]="newUser.name" formControlName="name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger"> Le champs est requis </div>
      </div>
      <div class="form-group">
        <label>Prénom*</label>
        <input type="text" class="form-control" [(ngModel)]="newUser.surname" formControlName="surname">
        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger"> Le champs est requis </div>
      </div>
      <div class="form-group">
        <label>Rôle*</label>
        <input type="text" class="form-control" [(ngModel)]="newUser.role" formControlName="role">
        <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger"> Le champs est requis </div>
      </div>
      <div class="form-group">
        <label >Email*</label>
        <input type="email" class="form-control" [(ngModel)]="newUser.email" formControlName="email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger"> Le champs est requis </div>
      </div>
      <div class="form-group">
        <label>Mot de passe*</label>
        <input type="password" class="form-control" [(ngModel)]="newUser.password" formControlName="password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger"> Le champs est requis </div>
      </div>
      <div class="row col-12 justify-content-center">
        <button type="submit" class="btn btn-mysuccess col-4"  [disabled]="!form.valid">Valider</button>
      </div>
    </form>
  </div>
</ng-template>
