
<div class="">
    <a role="button" href="/" class="btn btn-light offset-1"><img src="assets/open-iconic/svg/chevron-left.svg" height="20" ></a>
    <a role="button" href="/offre" class="btn btn-light offset-2"> Recommencer </a>
</div>
<div class="row">
  <div class="offset-2 col-4 d-flex justify-content-center">
    <br/>
    <div class="row">
      <textarea name="textarea" rows="10" cols="50" class="col-12">
        Entrer votre offre.
      </textarea>
      
      <button type="button" class="btn btn-primary col-12"> Valider </button>
    </div>
  </div>
  <div class="offset-1 col-5">
    blop
  </div>
</div>
