div.hr-or {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #111;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

div.hr-or:before {
  content: 'OR';
  background-color: #fff;
}

div.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  height: 0px;
  line-height: 0px;
}

.hr-title {
  background-color: #fff;
}
