/* You can add global styles to this file, and also import other style files */
.btn-margin-left {
  margin-left: 3px;
}
.btn-margin-right {
  margin-right: 3px;
}

/*======================FONTS=================================*/
body{
  font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Dosis';
}
/*======================BOUTON=================================*/

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

/*____ PRIMARY ____*/
.btn-myprimary {
    background: #00CECB;
    border-color: #00CECB;
    color: #FFFFEA;
}

.btn-myprimary:hover, .btn-myprimary:focus,.btn-myprimary:active:focus , .btn-myprimary:active, .open > .dropdown-toggle.btn-myprimary {
    background: #0DE5E2;
    border-color: #00CECB;
    color: #FFFFEA;
}

.btn-myprimary:disabled {
    background: #636363;
    border-color: #FFFFEA;
}
/*____ PRIMARY-OUTLINE ____*/

.btn-outline-myprimary {
    background: none;
    border-color: #00CECB;
    color: #00CECB;
}

.btn-outline-myprimary:hover, .btn-outline-myprimary:focus,.btn-outline-myprimary:active:focus , .btn-outline-myprimary:active, .open > .dropdown-toggle.btn-outline-myprimary {
    background: #00CECB;
    border-color: #00CECB;
    color: #FFFFEA;
}

/*____ SUCCESS ____*/
.btn-mysuccess {
    background: #9ECD43;
    border-color: #9ECD43;
    color: #FFFFEA;
}

.btn-mysuccess:hover, .btn-mysuccess:focus,.btn-mysuccess:active:focus , .btn-mysuccess:active, .open > .dropdown-toggle.btn-mysuccess {
    background: #AFE24A;
    border-color: #9ECD43;
}

.btn-mysuccess:disabled {
    background: #636363;
    border-color: #FFFFEA;
}

/*____ DANGER ____*/
.btn-mydanger {
    background: #E85653;
    border-color: #E85653;
    color: #FFFFEA;
}

.btn-mydanger:hover, .btn-mydanger:focus,.btn-mydanger:active:focus , .btn-mydanger:active, .open > .dropdown-toggle.btn-mydanger {
    background: #F9625E;
    border-color: #E85653;
}

/*____ SECONDARY ____*/
.btn-mysecondary {
    background: #636363;
    border-color: #636363;
    color: #FFFFEA;
}

.btn-mysecondary:hover, .btn-mysecondary:focus,.btn-mysecondary:active:focus , .btn-mysecondary:active, .open > .dropdown-toggle.btn-mysecondary {
    background: #6D6D6D;
    border-color: #636363;
}

/*____ WARNING ____*/
.btn-mywarning {
    background: #FFCF45;
    border-color: #FFCF45;
    color: #636363;
}

.btn-mywarning:hover, .btn-mywarning:focus,.btn-mywarning:active:focus , .btn-mywarning:active, .open > .dropdown-toggle.btn-mywarning {
    background: #FFD04C;
    border-color: #FFCF45;
}

/*____ DANGER-OUTLINE ____*/

.btn-outline-mydanger {
    background: none;
    border-color: #E85653;
    color: #E85653;
}

.btn-outline-mydanger:hover, .btn-outline-mydanger:focus,.btn-outline-mydanger:active:focus , .btn-outline-mydanger:active, .open > .dropdown-toggle.btn-outline-mydanger {
    background: #E85653;
    border-color: #E85653;
    color: #FFFFEA;
}

/*____ DARK-OUTLINE ____*/

.btn-outline-mydark {
    background: none;
    border-color: #636363;
    color: #636363;
}

.btn-outline-mydark:hover, .btn-outline-mydark:focus,.btn-outline-mydark:active:focus , .btn-outline-mydark:active, .open > .dropdown-toggle.btn-outline-mydark {
    background: #636363;
    border-color: #636363;
    color: #FFFFEA;
}

/*======================ALERTS=================================*/
/*danger*/

.alert-danger{
  background: none;
  border-color: #E85653;
  color: #E85653;
}

.alert-success{
  background: none;
  border-color: #9ECD43;
  color: #9ECD43;
}

/*======================OTHERS=================================*/

/*a*/
a, a:link {
    color: #00CECB;
}

a:hover, a:active  {
    color: #0DE5E2;
}


/*jumbotron*/
