
<div class="container-fluid">
  <div class="row">
    <!--Colonne 1-->
    <div class="mt-2 col-1 offset-1">
      <a role="button" routerLink="" class="col-1"><img src="assets/open-iconic/svg/back.svg" height="25"></a>
    </div>
    <div class="col-4 justify-content-center">
      <div class="row mt-4 mb-2 col-12 justify-content-center">
        <h2>Mes offres</h2>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center">
        <ul class="list-group col-10">
          <li *ngFor="let prediction of predictions"  class="list-group-item d-flex justify-content-between align-items-center">
            {{prediction.offer.title}}
            <span class="badge badge-light badge-pill" (click)="selectPrediction(prediction)"><a role="button" class="btn">Voir</a></span>
          </li>
        </ul>
      </div>
    </div>
    <!--Colonne 2-->
    <div class="col-6" style="background:#eee">
      <div *ngIf="selectedPrediction">
        <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
          <ul class="list-group col-10">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <h4>{{selectedPrediction.offer.title}}</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              {{selectedPrediction.offer.content}}
          </li>
          </ul>
        </div>
        <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
          <h4>Résultats</h4>
        </div>
        <div class="row mb-2 col-12 d-flex justify-content-center">
          <ul class="list-group col-10">
            <li *ngFor="let field of selectedPrediction.fields"  class="list-group-item d-flex justify-content-between align-items-center">
              {{field.name}}
              <span *ngIf="!modifyingPrediction" class="badge badge-light badge-pill"><a role="button" routerLink="/formation/1" class="btn">Voir</a></span>
              <button *ngIf="modifyingPrediction" class="btn btn-outline-danger" (click)="removeField(field)">Supprimer</button>
            </li>
          </ul>
        </div>
        <div *ngIf="!modifyingPrediction">
          <div *ngIf="!selectedPrediction.inbase">
            <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
              Donnez votre feedback sur cette prédiction ?
            </div>
            <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
              <button class="btn btn-success btn-margin-right" (click)="validatePrediction()">Bonne</button>
              <button class="btn btn-danger btn-margin-left" (click)="modifyPrediction()">Modifier</button>
            </div>
          </div>
          <div *ngIf="selectedPrediction.inbase" class="row mt-4 mb-2 col-12 d-flex justify-content-center">
            <div class="alert alert-success col-10" role="alert">
              Vous avez validée cette prédiction.
            </div>
          </div>
        </div>
        <div *ngIf="modifyingPrediction">
          <div class="row mb-2 col-12 d-flex justify-content-center">
            <div class="col-10">
              <div class="input-group mb-3">
                <select class="form-control" [(ngModel)]="selectedField">
                  <option value="">Choisir une formation</option>
                  <option *ngFor="let f of fields">{{f.name}}</option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="addField()">
                    Ajouter
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
            <button class="btn btn-primary" (click)="save()">Sauvegarder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
