
<div class="container-fluid">
  <div class="row">
    <!--Colonne 1-->
    <div class="mt-2 col-1 ">
      <a role="button" routerLink="" class="col-1"><img src="assets/open-iconic/svg/back.svg" height="25"></a>
    </div>
    <div class="col-5 justify-content-center">
      <div class="row mt-4 mb-2 col-12 justify-content-center">
        <h2>Mes offres</h2>
      </div>
      <div class="row mb-2 col-12 d-flex justify-content-center" style="overflow: auto; height:700px;">
        <ul class="list-group col-12">
          <li *ngFor="let offer of offers"  class="list-group-item justify-content-between align-items-center">
            <div class="row">
              <div class="col-8">{{offer.title}}</div>
              <div class="col-2">
                <span class="badge btn-myprimary badge-pill mr-2" (click)="selectOffer(offer)"><a role="button" class="btn"><i class="fas fa-eye"></i></a></span>
              </div>
              <div class="col-2">
                <span class="badge btn-mydanger badge-pill" (click)="openDangerPopUp(danger,offer)"><a role="button" class="btn"><i class="fas fa-trash-alt"></i></a></span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!--Colonne 2-->
    <div class="col-6" style="background:#eee">
      <div *ngIf="selectedOffer">
        <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
          <ul class="list-group col-10">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <h4>{{selectedOffer.title}}</h4>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <div style="overflow: auto; height:400px;">
                {{selectedOffer.content}}
              </div>
          </li>
          </ul>
        </div>
        <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
          <h4>Résultats</h4>
        </div>
        <div *ngIf="!modifyingPrediction">
          <div class="row mb-2 col-12 d-flex justify-content-center">
            <ul class="list-group col-10">
              <li *ngFor="let field of fields"  class="list-group-item d-flex justify-content-between align-items-center">
                {{field.name}}
                <span class="badge badge-light badge-pill"><a role="button" routerLink="/formation/{{field.id}}" class="btn">Voir</a></span>
              </li>
            </ul>
          </div>
          <div *ngIf="!selectedOffer.inbase">
            <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
              Donnez votre feedback sur cette prédiction ?
            </div>
            <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
              <button class="btn btn-mysuccess btn-margin-right" (click)="openWarningPopUp(warning)">Bonne</button>
              <button class="btn btn-mydanger btn-margin-left" (click)="modifyPrediction()">Modifier</button>
            </div>
          </div>
          <div *ngIf="selectedOffer.inbase" class="row mt-4 mb-2 col-12 d-flex justify-content-center">
            <div class="alert alert-success col-10" role="alert">
              Vous avez validé cette prédiction.
            </div>
          </div>
        </div>
        <div *ngIf="modifyingPrediction">
          <div class="row mb-2 col-12 d-flex justify-content-center">
            <div class="col-10">
              <select class="form-control" [(ngModel)]="selectedField">
                <option value="">Choisir une formation</option>
                <option *ngFor="let f of allFields">{{f.name}}</option>
              </select>
            </div>
          </div>
          <div class="row mt-4 mb-2 col-12 d-flex justify-content-center">
            <button class="btn btn-myprimary" (click)="saveField()">Sauvegarder</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #danger let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"> Attention </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Etes-vous sûre de vouloir supprimer cette offre?
  </div>
  <div class="modal-footer">
    <div class="row col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-mydanger mr-2" (click)="c('yes')"> Supprimer </button>
        <button type="button" class="btn btn-mysecondary" (click)="c('no')"> Annuler </button>
    </div>
  </div>
</ng-template>

<ng-template #warning let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title"> Attention </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Etes-vous sûre de vouloir valider cette prédiction? Attention cette action est irréverssible!
  </div>
  <div class="modal-footer">
    <div class="row col-12 d-flex justify-content-center">
        <button type="button" class="btn btn-mysuccess mr-2" (click)="c('yes')"> Valider </button>
        <button type="button" class="btn btn-mysecondary" (click)="c('no')"> Annuler </button>
    </div>
  </div>
</ng-template>
